<div class="container-fluid">
    <div class="row" *ngIf="student">
        <h1>{{ student.firstName }} {{ student.lastName}}, Фак. № {{ student.facultyNumber }}</h1>
        <div class="col-lg-7 form-card">
            <div class="col-lg-3">
                <img src="https://78.media.tumblr.com/cda7297d60cdf1e7ced132b1d7cf00e0/tumblr_ovqmiiLngE1vec7qzo1_400.jpg" width="200" height="200"/>
            </div>
            <div class="col-lg-9">
                <form [formGroup]="studentData" (ngSubmit)="onSubmit(studentData)">
                    <div class="col-lg-12">
                        <label>Име:</label>
                        <div class="col-lg-12 input-group">
                            <input type="text" class="form-control" formControlName="firstName"/>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label>Фамилия:</label>
                        <div class="col-lg-12 input-group">
                            <input type="text" class="form-control" formControlName="lastName"/>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label>Успех:</label>
                        <div class="col-lg-12 input-group">
                            <input type="number" class="form-control" formControlName="gpa"/>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label>Ниво на образование:</label>
                        <div class="col-lg-12 input-group">
                            <input type="text" class="form-control" formControlName="educationLevel"/>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="col-lg-12 input-group">
                            <br/>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Запази промените</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>