.row {
  overflow: hidden; }

body {
  background: red; }

.card {
  border: 1px solid #ddd;
  padding: 5px 25px 25px 25px;
  margin-bottom: 10px;
  background: #fff; }

.card-info-top {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px; }

.card-info {
  margin-bottom: 10px;
  padding-left: 0; }

