<div class="container-fluid">
    <div class="row" *ngIf="employer">
        <h1>{{ employer.name }} 
        </h1>
        
        <div class="col-lg-12 card">
            <table class="card-table">
                <tr>
                    <td>Наименование:</td>
                    <td>{{ employer.name }}</td>
                </tr>
                <tr>
                    <td><span>Кратко описание:</span></td>
                    <td>{{ employer.about }}</td>
                </tr>
                <tr>
                    <td><span>Сфера на дейност:</span></td>
                    <td>{{ employer.category }}</td>
                </tr>
                <tr>
                    <td><span>Email:</span></td>
                    <td>{{ employer.email }}</td>
                </tr>
                <tr>
                    <td><span>Уебсайт:</span></td>
                    <td><i class="fa fa-globe" aria-hidden="true"></i> <a href="http://{{employer.website}}">{{ employer.website }}</a></td>
                </tr>
                <tr>
                    <td><span>Адрес:</span></td>
                    <td>{{ employer.address }}</td>
                </tr>
                <tr>
                    <td><span>Социални мрежи:</span></td>
                    <td><a href="https://www.linkedin.com/company/{{employer.linkedIn}}/" class="social-network-link"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> <a href="" class="social-network-link"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></td>
                </tr>
            </table>
            
        </div>
    </div>
</div>