<div class="container-fluid">
    <div class="row" *ngIf="employer">
        <h1>{{ employer.name }}</h1>
        <div class="col-lg-12">
            <span>Наименование:</span> {{ employer.name }}
        </div>
        <div class="col-lg-12">
            <span>Кратко описание:</span> {{ employer.about }}
        </div>
        <div class="col-lg-12">
            <span>Сфера на дейност:</span> {{ employer.category }}
        </div>
        <div class="col-lg-12">
            <span>Email:</span> {{ employer.email }}
        </div>
        <div class="col-lg-12">
            <span>Адрес:</span> {{ employer.address }}
        </div>
        <div class="col-lg-12">
            <span>Уебсайт:</span> {{ employer.website }}
        </div>
        <div class="col-lg-12">
            <span>LinkedIn:</span> {{ employer.linkedIn }}
        </div>
    </div>
</div>